{% extends "base.html" %}
{% load static %}

{% block title %}New Listing{% endblock %}

{% block content %}
{% block body %}
<body style="padding:0;box-sizing:content-box;margin:0;background-color:darkolivegreen">
    <h2 style="color:#12232E;font-size:3rem;padding:3rem">CLOSED AND REGISTERED AUCTIONS</h2>
    <div style="display:flex;border-color:ghostwhite;background-color:steelblue;border-style:solid;
    margin-top:40px; height:60px;border-radius:10px 10px 1px 1px; padding:1rem">
            <h6 style="text-indent: 2.5rem; color:#12232E;margin-top:20px; "> CODE</h6>
            <h6 style="text-indent: 7rem; color:black;margin-top:20px; "> PRODUCT</h6>
            <h6 style="text-indent: 6rem;color:darkred;margin-top:20px;font-size:1.2rem"> WINNER</h6>
            <h6 style="text-indent: 6rem;margin-top:20px; color:black"> END AUCTION</h6>
            <h6 style="text-indent: 10rem;margin-top:20px; color:ghostwhite"> PRICE</h6>
            <h6 style="text-indent: 8rem;color:black;margin-top:20px;"> IMAGE</h6>


            </div>
<div id="background" style="border-style:solid;border-color:darkgreen;border-top-color:ghostwhite;background-color:olivedrab">


    {% for listing in active_listings %}
<br><br>


<div>
    <div class="row" style="padding:3rem">
         <div class="col col-sm" style="color:#12232E;font-family:'Apple Braille',sans-serif;">
            <p>{{listing.auction_number}}</p>
        </div>
        <div class="col col-sm">
            <a style="color:#12232E;;font-family:'Apple Braille',sans-serif;size:1.5rem;" href="{% url 'listing_view' listing.id %}"><p>{{listing.product}}</p></a>
        </div>
        <div class="col col-lg" style="font-family:'Apple Braille',sans-serif;color:darkred;font-size:1.5rem;text-indent:0.5rem">
            <p>{{listing.current_winner}}</p>
        </div>
        <div class="col col-sm" style="color:#12232E;font-family:'Apple Braille',sans-serif;">
            <p >{{listing.end}}</p>
        </div>
        <div class="col col-sm" style="color:whitesmoke;font-family:'Apple Braille',sans-serif;margin-left:100px;text-indent:1rem">
            <p>{{listing.current_price}} $</p>
        </div>

        <div class="col col-lg" style="color:#12232E;font-family: 'Apple Braille',sans-serif;text-indent:2rem">
            {% if listing.photo %}
            <p><img src="{{listing.photo.url}}" alt="" style="max-width: 30%;"></p>
            {% else %}
                No picture
            {% endif %}
        </div>

    </div>
</div>
    {% empty %}
        <p style="color:#12232E; font-family:'Apple Braille',sans-serif;font-size:3rem; text-indent:1.5rem">AT THE MOMENT NO AUCTION REGISTERED</p>
    {% endfor %}
</div>
</body>
    {% endblock %}
    {% endblock %}
